# Node modules (dono folders ke liye)
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Build files (Vite ka build folder)
client/dist/

# System files
.DS_Store
.vscode/

# Logs
*.log
npm-debug.log*